.staticHeader {-webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 1.5em;
pointer-events: auto;
-webkit-box-align: stretch;
-webkit-box-direction: normal;
-webkit-box-orient: vertical;
align-items: stretch;
border: 0 solid black;
box-sizing: border-box;
display: flex;
flex-basis: auto;
flex-direction: column;
flex-shrink: 0;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-height: 0px;
min-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
background-color: rgba(255,255,255,1.00);
top: 0px;
z-index: 3;
backface-visibility: hidden;
border-bottom-color: rgb(230, 236, 240);
border-bottom-style: solid;
border-bottom-width: 1px;
position: sticky}